.header {

    position: relative;
        
    &__container {
        background-color: $aditional-text-color;
        min-height: 60px;
        width: 100%;
    }

    &__fixator {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 1px solid $header-border-color;
    }

    &__nav {
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    &__mobile-container {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        min-height: 796px;
        background-color: $aditional-text-color;
        
        &.is-open {
            display: block;
        }
    }

}

.menu-button {

    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;


    &__icon-close {
        display: none;
        transition: fill $animation;
    }

    &__icon-open {
        transition: fill $animation;

        &:hover, &:focus {
            fill: $acent-color;
        }
    }

    &.is-open .menu-button__icon-close {
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover, &:focus {
            fill: $acent-color;
        }
    }

    &.is-open .menu-button__icon-open {
        display: none;
    }

    @include tablet {
        display: none;
    }
}


.pages {
    
//     &__item: not(:last-child) {

//     }

    &__link {

        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: $mobile-pages-size;
        line-height: $main-line-height;
        color: $title-text-color;
        transition: color $animation;

//         &::after {

//         }

//         &:hover::after {

//         }

//         &:focus::after {

//         }

//         &--active {

//         }

//         &--active::after {

//         }

    }

}

.contacts {
    &__link {
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: $mobile-contacts-font-size;
        line-height: $main-line-height;
        color: $main-text-color;
    }

    &__item:not(:first-child) {
        
    }

    &__icon {
        display: none;
    }
}