.logo {
  
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: $huge-font-size;
  line-height: $small-line-height;

  &__left {
    color: $acent-color;
  }

  &__right {
    color: $title-text-color;
  }


  &__right--inverse {
    color: $aditional-text-color;
  }

}