/* убрать лишние классы из HTML, заменить на @extend %title */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.link:hover,
.link:focus {
  text-decoration: none;
  font-style: normal;
  color: $acent-color;
  fill: $acent-color;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  color: $main-text-color;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: $aditional-text-color;
  padding-top: 80px;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
