$main-text-color: #757575;
$aditional-text-color: #ffffff;
$title-text-color: #212121;
$contacts-text-color: rgba(255, 255, 255, 0.6);
$modal-text-color: rgba(117, 117, 117, 0.5);

$acent-color: #2196f3;
$dark-acent-color: #188ce8;

$main-background-color: #e5e5e5;
$aditional-background-color: #2f303a;
$button-background-color: #f5f4fa;
$social-networks-backround-color: rgba(255, 255, 255, 0.1);
$subscribe-background-color: rgba(255, 255, 255, 0.3);
$overlay-background-color: rgba(33, 150, 243, 0.9);

$bow-shadow-color: rgba(0, 0, 0, 0.15);
$hero-image-shadow-color: rgba(47, 48, 58, 0.4);
$lightest-shadow-color: rgba(0, 0, 0, 0.1);
$light-team-shadow-color: rgba(0, 0, 0, 0.2);
$soft-shadow-color: rgba(0, 0, 0, 0.6);
$softer-shadow-color: rgba(0, 0, 0, 0.8);
$middle-team-shadow-color: rgba(0, 0, 0, 0.12);
$dark-team-shadow-color: rgba(0, 0, 0, 0.14);
$bow-shadow-color: rgba(0, 0, 0, 0.15);
$darkest-shadow-color: rgba(0, 0, 0, 0.16);

$border-color: #afb1b8;
$light-border-color: #eeeeee;
$dark-border-color: rgba(33, 33, 33, 0.2);
$acent-border-color: #2196f3;
$header-border-color: #ECECEC;

$main-font-size: 14px;
$aditional-font-size: 16px;
$large-font-size: 18px;
$largest-font-size: 20px;
$huge-font-size: 26px;
$mobile-pages-font-size: 40px;
$mobile-contacts-font-size: 34px;

$main-line-height: 1.14;
$little-line-height: 1.15;
$small-line-height: 1.19;
$medium-line-height: 1.25;
$bigger-line-height: 1.63;
$aditional-line-height: 1.71;
$large-line-height: 1.88;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
